#fstyle {
    width: 100%;
    background-color: #ffd800;
    padding: 0px;
    height: 120px;
}

body {
    margin: 0;
}
#hstyle {
    width:100%;
    background-color:#ffd800;
    padding:10px;
    height:120px;
}
#imgstyle {
    float:left;
    margin:10px;
    width:75px;
    height:75px;
}
#bstyle {
    width:100%;
    background-color:#ffd800;
    margin:20px;
    padding:25px;
}
.col1 {
    background-color: #ccc;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.col2 {
    background-color: #ddd;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.flex-container {
    display: flex;
    background-color: deepskyblue;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 660px) {
    .flex-container {
        flex-direction: column;
    }
    .fl-bg {
        max-width:260px;
    }
}
.flex-container > div {
    background-color:#b6ff00;
    margin:10px;
    padding:20px;
    width:200px;
    text-align:center;
    line-height:30px;
    font-size:30px;
}
.fl-bg {
    max-width: auto;
    background-color: #ffd800;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}